<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Easy<font color="blue">Checkin</font></h1>
      <h4>The Internet's Leading <font color="#2383c4">Physician Referral Site</font></h4>
      <%= link_to 'Sign Up Now', new_user_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>